<!DOCTYPE html>
<html>
  <head>
    <title>Murder</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag 'raphael-min', 'dracula_algorithms', 'dracula_graffle', 'jquery-1.4.2.min', 'dracula_graph' %>
    <%= csrf_meta_tag %>
    <link href='http://fonts.googleapis.com/css?family=Lato:light,regular' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <%= image_tag 'logo.png' %>
      <h1>Murder</h1>
    </header>
    <article>
      <%= yield %>
    </article>
    <footer>
      <p>Hand in your kills to Will or Nicky</p>
    </footer>
  </body>
</html>
